.breadcrumb {
    display: flex;
    align-items: center;
    font-family: "Noto Sans Light";
    font-size: 12px;
    line-height: 20px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #616d7d;

    &__link {
        &:hover {
            text-decoration: underline;
        }
    }

    &__separator {
        margin-right: 6px;
        margin-left: 5px;
    }
}
