.button {
  height: 80px;
  width: 100%;
  max-width: 295px;
  color: white;
  background: $red-reg;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  white-space: nowrap;
  transition: $animation-reg;

  &--modal {
    max-width: 100%;
  }

  &:hover {
    background: $red-hover;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      display: block;
      width: 17px;
      height: 13px;
      margin-left: 12px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.05 10.45L10.636 9.03599L13.172 6.49999L-2.60083e-07 6.49999L-1.7266e-07 4.49999L13.172 4.49999L10.636 1.96499L12.05 0.549988L17 5.49999L12.05 10.45Z' fill='white'/%3e%3c/svg%3e ");
    }
  }
}
