.form {
  position: relative;
  border-color: inherit;

  &__row {
    position: relative;
    margin: 30px 0px;
    border-color: inherit;
  }

  &__footer {
    position: relative;
    margin-bottom: 25px;
    font-family: "Noto Sans Light";
  }

  &__footer a {
    color: #7aaae2;
  }

  &__footer a:hover {
    text-decoration: underline;
  }
}

.default-checkbox {
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 1;
  opacity: 0;
}

.default-checkbox + label {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  padding-left: 25px;
  font-family: "Noto Sans Light";
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #616d7d;
  white-space: initial;
}
.default-checkbox + label::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 4px;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(97, 109, 125, 0.2);
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.default-checkbox:checked + label::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.7071 1.70718L3.99995 8.41429L0.292847 4.70718L1.70706 3.29297L3.99995 5.58586L9.29285 0.292969L10.7071 1.70718Z' fill='%23B5212E'/%3e%3c/svg%3e ");
}

.input__field {
  position: relative;
  display: block;
  width: 100%;
  padding: 25px 15px 15px;
  z-index: 1;
  color: inherit;
  background: unset;
  border: 1px solid;
  border-color: inherit;
  font-family: "Noto Sans Light";
  font-size: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 0px;

  @media (min-width: 500px) {
    padding: 25px 15px;
    font-size: 18px;
  }
}

.input__field:focus {
  outline: none;
}

.label__field {
  position: absolute;
  left: 15px;
  top: 50%;
  font-family: "Noto Sans Light";
  font-size: 15px;
  line-height: 35px;
  color: inherit;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;

  @media (min-width: 500px) {
    font-size: 18px;
  }
}

.input__field:focus + .label__field,
.input__field:valid + .label__field {
  top: 0;
  transform: unset;
  color: #616d7d;
  font-family: "Noto Sans Light";
  font-size: 12px;
  line-height: 35px;
}

.input__field--not-valid {
  border: 1px solid #dd4956;
  color: #dd4956;
}
