.pages-selector {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 70px !important;
  top: 50%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  left: unset;
  transform: translateY(-50%);
  z-index: 5;
  transition: 1s linear;

  &--highligth{
    transform: translateY(-50%) scale(1.1);
    .swiper-pagination-bullet{
      opacity: 1 !important;
    }
  }

  @media (max-width: 1230px) {
    display: none;
  }

  @media (max-width: 1750px) {
    right: 35px !important;
  }

  &__all {
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
  }

  &__active {
    color: white;
    font-size: 30px;
  }

  &__pagination {
    transform: unset !important;

    .swiper-pagination-bullet {
      position: relative;
      min-width: 21px;
      min-height: 21px;
      padding: 5px;
      margin-bottom: 30px !important;
      background: unset;
      border: 2px solid white;
      transition: 1s linear;

      @media (max-width: 1500px) {
        margin-bottom: 15px !important;
      }

      &::before {
        content: "•";
        display: block;
        color: #fff;
        font-size: 30px;
        position: absolute;
        line-height: 0;
        top: 9px;
        right: 5px;
      }
    }
  }
}

.page-up {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-feature-settings: "pnum" on, "lnum" on;
  letter-spacing: 0.05em;
  color: #fff;
  opacity: 0.4;
  font-weight: 700;
  padding: 0;
  transform: rotate(-90deg);
  display: flex;
  right: 23px;
  position: relative;
  top: 35px;

  @media (max-width: 650px) {
    display: none;
  }

  &:hover {
    opacity: 1;
  }

  &:hover::after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='1' fill-rule='evenodd' clip-rule='evenodd' d='M7.5 0L15 7.43278L13.4186 9L7.5 3.13445L1.5814 9L0 7.43278L7.5 0Z' fill='white'/%3e%3c/svg%3e ");
  }

  &::after {
    content: "";
    display: block;
    height: 9px;
    position: relative;
    top: 10px;
    right: -4px;
    transform: rotate(90deg);
    width: 15px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.4' fill-rule='evenodd' clip-rule='evenodd' d='M7.5 0L15 7.43278L13.4186 9L7.5 3.13445L1.5814 9L0 7.43278L7.5 0Z' fill='white'/%3e%3c/svg%3e ");
  }
}

.page-navigation {
  position: absolute;
  height: calc(100% - 120px);
  right: 10px;

  @media (min-width: 1650px) {
    right: 250px;
  }

  .active {
    background-color: unset;
    border: unset;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    color: $red-reg;
    border-left: 2px $red-reg solid;
  }

  &__scrollspy {
    position: relative;
    overflow-y: scroll;
  }

  &__wrap {
    position: sticky;
    display: none;
    flex-direction: column;
    width: 220px;
    top: 200px;
    margin-bottom: 50px;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 4px 64px rgb(0 0 0 / 5%);

    @media (min-width: 1160px) {
      display: flex;
      right: 250px;
    }

    @media (min-width: 1650px) {
      width: 340px;
    }
  }

  &__button {
    font-family: "Bebas Neue";
    font-weight: 700;
    font-size: 26px;
    line-height: 0.83;
    letter-spacing: 0.05em;
    padding: 32px 0 25px 40px;
    text-align: inherit;
    border-bottom: 1px solid #dbdbdb;

    &:nth-last-child(1) {
      border-bottom: unset;
    }

    &:hover {
      color: $red-hover;
    }
  }
}

.map {
  position: relative;
  width: 100%;
  color: inherit;
  white-space: initial;

  &__instance{
    position: relative;
    height: 400px;
  
    @media (min-width: 1300px) {
      height: 800px;
    }
  }

  &__navigation {
    position: relative;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: white;

    @media (min-width: 1300px) {
      position: absolute;
      width: 460px;
      top: 250px;
      left: 250px;
    }
  }

  &__button {
    position: relative;
    padding: 30px 0;
    margin: 0 50px;
    border-bottom: 1px solid #dbdbdb;
    text-align: start;

    &:hover{
      color: $red-hover;
    }

    &:hover{
      color: $red-hover;
    }

    &:hover::after{
      filter: invert(19%) sepia(44%) saturate(3581%) hue-rotate(335deg) brightness(105%) contrast(101%);
    }

    &:nth-last-child(1) {
      border-bottom: unset;
    }

    &::after {
      content: "";
      position: absolute;
      opacity: 0.2;
      right: -30px;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      width: 15px;
      background-image: url(/assets/img/icons/arrow.svg);
      background-repeat: no-repeat;
    }

    &--active {
      color: #b5212e;

      &::before {
        content: "";
        display: block;
        left: -50px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 3px;
        height: 100px;
        background-color: #b5212e;
      }

      &::after {
        opacity: 1;
        filter: invert(19%) sepia(44%) saturate(3581%) hue-rotate(335deg) brightness(105%) contrast(101%);
      }
    }
  }

  &__name {
    display: block;
    max-width: 70%;
    white-space: initial;
    color: inherit;
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  &__title {
    margin-bottom: 15px;
    color: #616d7d;
    font-family: "Noto Sans Light";
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
  }
}
