.page-swiper{
  max-height: 100vh;
  overflow: hidden;

  &--disabled{
    overflow: auto;
  }

  .swiper-slide{
    overflow: scroll;
    overflow-x: hidden;
  }

}


.clients {
  &-box {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;

    @media (min-width: 1230px) {
      grid-template-columns: 1fr 1fr;
    }

    &--regular {
      border-top: 1px solid #dbdbdb;
      border-right: 1px solid #dbdbdb;
    }
  }

  &__header {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    flex-wrap: wrap;

    &--news {
      @media (max-width: 1230px) {
        padding: 0 30px;
      }
    }

    @media (max-width: 580px) {
    }

    .section__title {
      margin: 0;
    }
  }

  &__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    &--regular {
      width: 25%;
      border-bottom: 1px solid #dbdbdb;
      border-left: 1px solid #dbdbdb;
      padding: 0;
    }

    @media (max-width: 1230px) {
      padding: 17px;
      min-width: 140px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      justify-content: center;
      align-items: center;
      max-height: 115px;

      img {
        height: 50%;
      }
    }

    @media (max-width: 580px) {
      img {
        width: 100%;
      }
    }
  }
}


.swiper-pagination--regular {
  color: #051223;
  border-top: 1px solid #dbdbdb;
  padding-top: 15px;
  position: absolute;
  text-align: center;

  .swiper-pagination-current {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #051223;
  }

  .swiper-pagination-total {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .about-company {
    white-space: initial;
    font-family: "Noto Sans Light";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
    max-width: 465px;
    min-height: 158px;

    @media (max-width: 1230px) {
      white-space: normal;
      font-size: 12px;
      line-height: 21px;
      margin-bottom: 30px;
    }
  }
}

.swiper-pagination {
  color: rgba(255, 255, 255, 0.4);
  border-top: 1px #37414f solid;
  padding-top: 15px;
}

.swiper-pagination-current {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.swiper-pagination-total {
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
}

.direction-company {
  font-family:"Noto Sans Light";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 1230px) {
    white-space: normal;
  }

  &__title {
    font-family: "Bebas Neue";
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    font-weight: 400;
    white-space: normal;

    @media (max-width: 1230px) {
      margin-bottom: 30px;
    }
  }

  &__item {
    font-family:"Noto Sans Light";
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
    display: flex;
    align-items: center;

    @media (max-width: 1230px) {
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 15px;
      display: flex;
      align-items: flex-start;
      width: 100%;
    }

    &::before {
      content: "";
      display: block;
      height: 20px;
      min-width: 20px;
      margin-right: 9px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.99999 18.3332C5.39749 18.3332 1.66666 14.6023 1.66666 9.99984C1.66666 5.39734 5.39749 1.6665 9.99999 1.6665C14.6025 1.6665 18.3333 5.39734 18.3333 9.99984C18.3333 14.6023 14.6025 18.3332 9.99999 18.3332ZM9.99999 16.6665C11.7681 16.6665 13.4638 15.9641 14.714 14.7139C15.9643 13.4636 16.6667 11.7679 16.6667 9.99984C16.6667 8.23173 15.9643 6.53603 14.714 5.28579C13.4638 4.03555 11.7681 3.33317 9.99999 3.33317C8.23188 3.33317 6.53619 4.03555 5.28594 5.28579C4.0357 6.53603 3.33332 8.23173 3.33332 9.99984C3.33332 11.7679 4.0357 13.4636 5.28594 14.7139C6.53619 15.9641 8.23188 16.6665 9.99999 16.6665V16.6665ZM9.16916 13.3332L5.63332 9.79734L6.81166 8.619L9.16916 10.9765L13.8825 6.26234L15.0617 7.44067L9.16916 13.3332Z' fill='%23B5212E'/%3e%3c/svg%3e ");

      @media (max-width: 1230px) {
        margin-left: unset;
      }
    }
  }
}

.news {
  border: solid rgba(255, 255, 255, 0.2);

  @media (max-width: 1230px) {
    border: unset;
    margin-bottom: 30px;
  }

  &-item {
    padding: 21px 40px 34px 28px;
    border-bottom: solid rgba(255, 255, 255, 0.2);
    white-space: initial;

    @media (max-width: 1230px) {
      padding: 20px 40px 35px 30px;
      border-top: solid rgba(255, 255, 255, 0.2);
      border-right: solid rgba(255, 255, 255, 0.2);
      border-left: solid rgba(255, 255, 255, 0.2);
      white-space: initial;
      border-bottom: unset;

      &:nth-last-child(1) {
        border-bottom: solid rgba(255, 255, 255, 0.2);
      }
    }

    &__data {
      font-family:"Noto Sans Light";
      font-weight: 300;
      font-size: 12px;
      line-height: 24px;
      margin-bottom: 7px;
    }

    &__text {
      font-family: "Bebas Neue";
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.05em;
      word-wrap: break-word;
      transition: 0.2s linear;

      &:hover {
        color: $red-hover;
      }
    }
  }
}


.copyright {
  font-family:"Noto Sans Light";
  font-size: 12px;
  line-height: 20px;
}

.studio {
  font-family:"Noto Sans Light";
  font-size: 12px;
  line-height: 20px;
  display: flex;

  &__logo {
    display: flex;
    align-items: center;
  }
}


.page-description {
  display: flex;
  flex-wrap: wrap;

  &__background {
    position: absolute;
    min-height: 600px;
    object-fit: cover;
    top: 0;
    z-index: -1;
    width: 100%;
  }

  &__text {
    font-family: "Noto Sans Light";
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    white-space: initial;
    width: 50%;
    min-width: 300px;

    p {
      margin-bottom: 20px;
    }

    &--24 {
      font-size: 24px;
      line-height: 39px;
      width: 66%;
    }

    &--16 {
      font-size: 16px;
      line-height: 24px;
      color: #252525;
    }
  }

  &__title-1 {
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #051223;
    max-width: 100%;
    white-space: initial;
  }
}


.arrow {
  position: absolute;
  width: 16px;
  height: 29px;
  display: block;
  z-index: 2;
  bottom: 35px;
  right: 45px;

  @media (max-width: 500px) {
    right: 20px;
  }
}



.time-line {
  position: relative;
  margin-bottom: 30px;
}

.time-line__line {
  border-right: 4px solid #b5212e;
  left: 18px;
  position: absolute;
  top: 18px;
  opacity: 0.2;
  height: 90%;
  border-style: dotted;
  z-index: -1;
}

.time-line__items {
  /* Reset styles */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.time-line__item {
  margin-bottom: 115px;
  display: flex;
  align-items: flex-start;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.time-line__top {
  /* Center the content horizontally */
  align-items: center;
  display: flex;
}

.time-line__circle {
  background: #b5212e;
  border-radius: 9999px;
  height: 40px;
  width: 40px;
  border: 7px white solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-line__circle-mini {
  background: #ffffff;
  border-radius: 9999px;
  height: 10px;
  width: 10px;
}

.time-line__title {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 48px;
  line-height: 70px;
  color: #051223;
  flex: 1;
}

.time-line__desc {
  font-family: "Noto Sans Light";
  font-size: 16px;
  line-height: 24px;
  margin-left: 48px;
  border-left: 1px solid #dbdbdb;
  padding: 10px 30px;
}

.platform-list {
  font-family:"Noto Sans Light";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  &__item {
    display: flex;
    align-items: baseline;
    font-family: "Noto Sans Light";
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;

    &::before {
      margin-right: 15px;
      content: "";
      border: 3px solid #b5212e;
      box-sizing: border-box;
      border-radius: 7px;
      width: 10px;
      height: 10px;
      display: block;
      background: white;
    }
  }

  &__text {
  }
}

img.cp-lightimg {
  position: relative;
  transition: all 300ms;
  z-index: 1001;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
}

div.cp-lightoverlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 0;
  transition: all 300ms;
}

div.cp-lightoverlay.cp-lightoverlay-in {
  opacity: 1;
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;

  &__item {
    cursor: pointer;
    margin-right: 10px;
    width: 300.06px;
    height: 239.62px;
    background: #efefef;
  }
}

.certificats-frame {
  width: 305px;
  height: 399.28px;
  background-image: url("../img/icons/certificats-box.svg");
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .cards-mask--gallery {
    background: #dd4956;
    transform: translateY(0);
    padding: 40px;
  }

  &__image {
    width: 205.81px;
    height: 299.72px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
}

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}
