
.time-line {
    position: relative;
    margin-bottom: 30px;
  
  
  &__line{
    border-right: 4px solid #b5212e;
    left: 18px;
    position: absolute;
    top: 18px;
    opacity: 0.2;
    height: 90%;
    border-style: dotted;
    z-index: -1;
  }
  
  &__items {
    /* Reset styles */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  
  &__item {
    margin-bottom: 115px;
    display: block;
    align-items: flex-start;

    @media (min-width: 1200px) {
      display: flex;
    }
  
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
  
  &__top {
    /* Center the content horizontally */
    align-items: center;
    display: flex;
  }
  
  &__circle {
    background: #b5212e;
    border-radius: 9999px;
    height: 40px;
    min-width: 40px;
    border: 7px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__circle-mini {
    background: #ffffff;
    border-radius: 9999px;
    height: 10px;
    min-width: 10px;
  }
  
  &__title {
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: #051223;
    flex: 1;
  }
  
  &__desc {
    margin-left: 48px;
    padding: 10px 30px;
    border-left: 1px solid #dbdbdb;
    font-family: "Noto Sans Light";
    font-size: 16px;
    line-height: 24px;
       
    p:nth-child(1){
        white-space: initial;
    }
  }
}