
.benefits {
    padding: 0 15px;

    .title__lg{
      margin-top: 80px;
      margin-bottom: 35px;
    }
  }
  
  .benefits-box {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(360px,1fr));
    flex-wrap: wrap;
    outline: 2px solid gray;
  
    @media (max-width: 1230px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  
    &__wrap {
      text-align: initial;
      padding-left: 30px;

      @media (max-width: 1230px) {
        padding-left: 0px;
      }
    }
  }
  
  .benefits-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 25px 30px;
    border-collapse: collapse;
    outline: 1px solid gray;
  
    @media (min-width: 1230px) {
      flex-direction: row;
      align-items: flex-start;
      
    }
  
    &__logo {
      border: 1px red solid;
      border-radius: 41px;
      height: 78px;
      padding: 18px;
      width: 78px; 
      min-width: 78px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      @media (max-width: 499px) {
        margin-right: 20px;
      }
    }
  
    &__title {
      font-weight: bold;
      font-size: 20px;
      white-space: initial;
      line-height: 30px;
      letter-spacing: 0.05em;
      padding-top: 8px;
      margin-bottom: 14px;
      text-align: center;
  
      @media (min-width: 1230px) {
        text-align: left;
        font-size: 24px;
      }
    }
  
    &__list {
      font-family: "Noto Sans Light";
      font-weight: 300;
      font-size: 13px;
      line-height: 20px;
      max-width: 300px;
      white-space: initial;
  
      li {
        margin-bottom: 10px;
      }
    }
  }
  