.footer {
    .section__title {
        font-size: 44px;
        line-height: 52px;
        margin-top: 33px;
        max-width: 565px;
        white-space: pre-line;
    }

    .title__md {
        margin: 35px 0 25px 0;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;

        @media (max-width: 1400px) {
            margin-top: 30px;
        }

        @media (max-width: 500px) {
            flex-direction: column;
            align-items: center;
        }
        &--regular {
            display: flex;
            padding-bottom: 50px;
            padding-top: 50px;
            justify-content: space-between;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            z-index: 1;
            position: relative;
        }
    }
}

.achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
    font-family: 'Bebas Neue';

    @media (max-width: 500px) {
        margin-right: 0px;
        grid-template-columns: 1fr;
    }

    @media (max-width: 1230px) {
        margin-right: 0px;
    }

    &__item {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 500px) {
            margin-right: 15px;
            margin-bottom: 25px;
        }
    }

    &__wreath {
        background: url("../img/icons/crown-l.svg"), url("../img/icons/crown-r.svg");
        background-repeat: no-repeat;
        background-position: right top, left top;
        text-align: center;
        padding: 12px 36px;

        &--white {
            background: url("../img/icons/crown-r-w.svg"), url("../img/icons/crown-l-w.svg");
            background-repeat: no-repeat;
            background-position: right top, left top;
        }
    }

    &__value {
        font-family: "Bebas Neue";
        font-weight: 700;
        font-size: 36px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 24px;
        line-height: 25px;
        white-space: initial;
    text-align: center;
    }

    &__text {
        font-family: "Bebas Neue";
        font-size: 24px;
        line-height: 25px;
        max-width: 100px;
        letter-spacing: 0.05em;
        margin: 0 auto;
        text-align: center;
        white-space: pre-line;

        &--regular {
            font-family: "Bebas Neue";
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #051223;
            font-weight: 400;
            max-width: 100%;
        }
    }
}

.about-company {
    max-width: 450px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    white-space: initial;
    font-family: "Noto Sans Light";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 1px #8080802b solid;

    @media (max-width: 1230px) {
        white-space: normal;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 50px;
    }
}

.man {
    z-index: -1;
    position: absolute;
    right: 50%;
    bottom: 0px;
    transform: translateX(50%);

    &--regular {
        bottom: 0;
    }

    @media (max-width: 1400px) {
        display: none;
    }
}

.feedback {
    margin-top: 17px;
    border-color: rgb(255 255 255 / 40%);

    .title__lg {
        margin-bottom: 20px;
    }

    &__text {
        font-family: "Noto Sans Light";
        font-size: 24px;
        line-height: 35px;
        white-space: normal;
        margin-bottom: 27px;
    }
}
