
.geography--desktop {
    display: block;
    padding: 0 100px;
  
    @media (max-width: 1230px) {
      display: none;
    }
  }
  
  .geography--mobile {
    display: none;
  
    @media (max-width: 1230px) {
      display: block;
    }
  }
  
 
  .geography__map {
    position: absolute;
    top: 0;
    z-index: -3;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  
  .geography__header {
    margin-top: 83px;
    margin-bottom: 46px;
  }
  
  .countries {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 50%;
    grid-column-gap: 20px;
  
    &__list {
      margin-bottom: 40px;
  
      @media (max-width: 1230px) {
        margin-bottom: 40px;
        max-height: 400px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
  }

  .country{
    
    &__name {
      font-family: "Bebas Neue";
      font-weight: bold;
      font-size: 30px;
      line-height: 30px;
      letter-spacing: 0.05em;
      margin-bottom: 15px;
    }
  
    &__city {
      white-space: break-spaces;
      font-family: "Noto Sans Light";
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
    }
  }
  
  .map-country {
    position: absolute;
  
    &--belarus {
      top: 564px;
      right: 889px;
    }
  
    &--russia {
      top: 519px;
      right: 520px;
    }
  
    &--kazakhstan {
      top: 609px;
      right: 462px;
    }
  
    &--turkmenistan {
      bottom: 176px;
      right: 516px;
    }
  
    &__dot {
      width: 12px;
      height: 12px;
      background-color: white;
      border-radius: 9px;
      box-shadow: rgb(255 255 255 / 29%) 0 0 0px 9px;
    }
  
    &__line {
      width: 72.04px;
      height: 1px;
      top: -31px;
      right: 6px;
      position: relative;
      background: #fff;
      transform: rotate(-45deg);
    }
  
    &__name {
      position: relative;
      top: -104px;
      right: -66px;
      font-family: "Bebas Neue";
      font-weight: bold;
      font-size: 30px;
      line-height: 80px;
      letter-spacing: 0.05em;
  
      &--kazakhstan {
        font-size: 46px;
        line-height: 80px;
      }
  
      &--russia {
        font-size: 90px;
        line-height: 80px;
      }
    }
  }