.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: inherit;
    max-width: 1400px;
    margin: 0 auto;
    white-space: initial;
  
    @media (max-width: 1190px) {
      padding-left: 20px;
    }

    .title__xl{
      max-width: 480px;
      margin-bottom: 75px;
    }

  }