.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: inherit;
    max-width: 1400px;
    margin: 0 auto;
    white-space: initial;
    
    .button{
      max-width: 295px;
    }
  
    @media (max-width: 1190px) {
      padding-left: 15px;
      padding-right: 15px;

      .button{
        max-width: 100%;
      }
    }

    .title__xl{
      max-width: 480px;
      margin-bottom: 75px;
    }

  }